/* 초기화 */
*{
 margin: 0;    
 padding: 0;
 box-sizing: border-box;
}
ul{
 list-style: none;
}
a{
 color: inherit;
 text-decoration: none;
}
img{
 border: 0;
 vertical-align: top;
}
.clearfix::after{
 content: "";
 display: table;
 clear: both;
}
body{
 background-color: #fff;
 color: #222328;
}
.wrap{
 width: 1000px;
}

/* 레이아웃 */

/* 모달 레이어 팝업 영역 */
.modal{
 position: fixed;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.7);
 z-index: 100;
 display: none;
}
.modal .modal_inner{
 width: 500px;
 height: 300px;
 background-color: #fff;
 position: absolute;
 top: 30%;
 left: 30%;
 transform: translate(-30%,-30%);
 text-align: center;
 padding: 20px;
 border: 2px solid #f0567a;
 z-index: 100;
}
.modal .modal_inner p.tit{
 font-size: 20px;
 border-bottom: 2px solid #f0567a;
 padding-bottom: 25px;
}
.modal .modal_inner ul.txt{
 padding-top: 10px;
 font-size: 14px;
 line-height: 2;
}
.modal .modal_inner .btn{
 width: 60px;
 height: 30px;
 border-radius: 10px;
 font-size: 13px;
 border: 0;
 background-color: #2b2460;
 color: #fff;
 position: absolute;
 right: 20px;
 bottom: 20px;
 cursor: pointer;
}

/* 왼쪽 영역 */
header{
 float: left;
 width: 200px;
 height: 650px;
 position: relative;
 z-index: 10;
}

/* 로고 영역 */
header h1{
 padding: 30px 0;
 width: 200px;
}
header h1 a img{
 width: 180px;
 height: 30px;
}

/* 메뉴 영역 */
header nav{
 width: 180px;
 text-align: center;
 margin: 0 auto;
}
header nav ul.gnb{
 width: 100%; 
}
/* 메인 메뉴 */
header nav ul.gnb>li{
 width: 100%;
}
header nav ul.gnb>li>a{
 display: block;
 width: 100%;
 height: 50px;
 line-height: 50px;
 font-size: 22px;
 background-color: #2b2460;
 color: #fff;
}
header nav ul.gnb>li:hover>a{
 background-color: #d65c9b;
 color: #000;
}

/* 서브 메뉴 */
header nav ul.gnb>li>ul.sub{
 width: 100%;
 display: none;
}
header nav ul.gnb>li>ul.sub>li{
 width: 100%;
 height: 40px;
}
header nav ul.gnb>li>ul.sub>li>a{
 display: block;
 width: 100%;
 height: 100%;
 line-height: 40px;
 font-size: 18px;
}
header nav ul.gnb>li>ul.sub>li:hover>a{
 background-color:  #d65c9b;
 color: #fff;
}

/* 오른쪽 영역 */
.rcon{
 float: left;
 width: 800px;
 height: 650px;
}
/* 슬라이드 영역 */
.rcon .slide{
 width: 100%;
 height: 350px;
 position: relative;
}
.rcon .slide li{
 width: 100%;
 height: 350px;
 position: absolute;
 left: 0;
 top: 0;
}

/* 콘텐츠 영역 */
.rcon .contents{
 width: 100%;
 height: 200px;
 margin-top: 5px;
}
/* 공지사항,갤러리,바로가기 수평 정렬 */
.contents section{
  float: left;
}
/* 공지사항,갤러리,바로가기 탭 */
.contents section h3{
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #f0567a;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
/* 공지사항 */
.contents .notice{
  width: 325px;
  height: 200px;
  margin-right: 5px;
}
.contents .notice ul{
  width: 100%;
  height: 170px;
  border: 1px solid #737373;
  padding: 5px;  
}
.contents .notice ul li{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;  
  position: relative;
}
.contents .notice ul li:hover{
 color: #d65c9b;
}
.contents .notice ul li a{
  display: block;
  padding-left: 5px;
}
.contents .notice ul li a .day{
  position: absolute;
  right: 5px;
  top: 0;
}
/* 갤러리 */
.contents .gal{
  width: 265px;
  height: 200px;
  margin-right: 5px;
}
.contents .gal ul{
  width: 100%;
  height: 170px;
  border: 1px solid #737373;
  padding: 5px;
  padding-top: 10px;
}
.contents .gal ul li{
  width: 82px;
  height: 82px;
  float: left;
}
.contents .gal ul li:nth-child(1){
  margin-right: 3px;
}
.contents .gal ul li:nth-child(2){
  margin-right: 3px;
}
.contents .gal ul li:hover{
  opacity: 0.7;
}
.contents .gal img{
  width: 82px;
  height: 82px;
  border-radius: 5px;
}
/* 바로가기 영역 */
.contents .baro{
 width: 200px;
 height: 200px;
}
.contents .baro ul{
 width: 100%;
 height: 170px;
 padding: 10px;
 border: 1px solid #333;
 border-top-right-radius: 20px; 
}
.contents .baro ul li{
 width: 100%;
 height: 50px;
 line-height: 50px;
 background-color: #fff;
 border: 1px solid #aaa;
 border-bottom: 0;
 padding-left: 70px;
 background-repeat: no-repeat;
 background-size: 40px;
 background-position: 20px;
}
.contents .baro ul li:nth-child(1){
 background-image: url(../images/sub1.png);
}
.contents .baro ul li:nth-child(2){
 background-image: url(../images/sub2.png);
}
.contents .baro ul li:nth-child(3){
 background-image: url(../images/sub3.png);
 border: 1px solid #aaa;
}
.contents .baro ul li:hover{
 opacity: 0.7;
 color: #d65c9b;
}

/* 푸터 영역 */
footer{
	width: 100%;
	height: 100px;
 background-color: #7e6cc5;
 color: #fff;
 margin-top: 5px;
}
footer .copy{
  width: 600px;
  height: 100px; 
  float: left;
  line-height: 1.5;
  padding-top: 10px; 
  padding-left: 10px;
}
footer .copy li{
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}
footer .sns{
  width: 200px;
  height: 40px;
  float: right;
  padding-top: 10px;
}
footer .sns li{
  display: inline-block;
  margin-right: 5px;
  font-style: italic;
}
footer .sns li:hover{
  color: #d65c9b;
}  
footer .fam{
  width: 200px;
  height: 60px;  
  float: right;
  padding-top: 5px;
}
footer .fam select{
 width: 180px;
 height: 30px;
 padding: 5px;
 border-radius: 5px;
}