@charset "UTF-8";
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    border: 0px;
}

body{
    color: #333333;
}
.modal{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 325px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(29, 174, 13);
    z-index: 100;
}

.modal p.tit{
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(29, 174, 13) ;
}
.modal ul.txt{
    font-size: 16px;
    line-height: 2;
    padding-top: 10px;
}
.modal .btn{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background: rgb(29, 174, 13);
    color: #fff;
    position: absolute;
}
.wrap{
    width: 1000px;
    position: relative;
}


/* layout */
header{
    width: 200px;
    height: 650px;
    float: left;
    position: relative;
    z-index: 10;
}

header h1{
    width: 100%;
    padding: 30px 0;
}

header h1 a img{
    width: 180px;
    height: 30px;

} 

header nav{
    width: 180px;
    text-align: center;
    margin: 0 auto;
}

header nav ul.gnb{
    width: 100%;
}

header nav ul.gnb>li{
    width: 100%;
    position: relative;
}

header nav ul.gnb>li>a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    background: #1f1e1e;
    color: #fff;
}
header nav ul.gnb>li:hover>a{
    background-color: rgb(55, 201, 238);
    color: #fdf251;
}

header nav ul.gnb>li>ul.sub{
    width: 100%;
    display: none;
    left: 180px;
    top: 0px;
    background: rgb(55, 201, 238);
}
header nav ul.gnb>li>ul.sub>li{
    width: 100%;
}
header nav ul.gnb>li>ul.sub>li>a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
header nav ul.gnb>li>ul.sub>li:hover>a{
    background-color: #fdf251;
}



.r_con{
    width: 800px;
    float: left;
}

.slide{
    width: 100%;
    height: 350px;
    background: #bbb;
    position: relative;
    overflow: hidden;
}

.slide li{
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;

}
.contents{
    width: 100%;
    height: 200px;


}
.contents section{
    float:left;
}
.contents section h3{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: skyblue;
    color: #fff;
    text-align: center;
    border-radius: 5px 5px 0px 0px;

}
/* 공지사항/갤러리 */
.contents .notice_gal{
    width: 400px;
    height: 200px;
    position: relative;

}
.contents .notice_gal h3{
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;

}
.contents .notice_gal h3.gal_txt{
    position: absolute;
    top: 0;
    left: 100px;
}
.contents .notice_gal h3.on{
    background: skyblue;
}

.contents .notice_gal ul{
    width: 100%;
    height: 170px;
    position: absolute;
    top: 30px;
    border: 1px solid #333;
    border-top-right-radius: 20px;
    display: none;
    padding: 5px;
}
.contents .notice_gal ul.on{
    display: block;
}
.contents .notice_gal ul.notice{
    width: 100%;
}
.contents .notice_gal ul.notice li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    position: relative;
}
.contents .notice_gal ul.notice li a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 14px;

}

.contents .notice_gal ul.notice li:hover a{
    background: #ccc;
    font-size: 13px;
    font-weight: bold;
}
.contents .notice_gal ul.notice li a .day{
    position: absolute;
    top: 0;
    right: 0;
}

.contents .notice_gal ul.gal{
    width: 100%;
}
.contents .notice_gal ul.gal li{
    width:120px;
    height:120px;
    float: left;
    margin-left: 7px;

}
.contents .notice_gal ul.gal li:hover{
    transform: translateY(10px);
}
.contents .notice_gal ul.gal li a{
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.6s;
}
.contents .notice_gal ul.gal li a img{
    width: 120px;
    height: 120px;
}

/* 배너 */
.contents .banner{
    width: 200px;
    height: 200px;

}

.contents .banner a{
    width: 100%;
    height: 170px;
}
.contents .banner a img{
    width: 100%;
    height: 170px;
    border-top-right-radius: 20px;
}

/* 바로가기 */
.contents .baro{
    width: 200px;
    height: 200px;

}
.contents .baro ul{
    width: 100%;
    height: 170px;
    border: 1px solid black;
    text-align: center;
    padding: 0 5px;
}
.contents .baro ul li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #888;
    border-radius: 5px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 5px 3px;
    padding-left: 50px;

}
.contents .baro ul li:nth-child(1){
    background-image: url(../img/ico01.png); 
}
.contents .baro ul li:nth-child(2){
    background-image: url(../img/ico02.png); 
}
.contents .baro ul li:nth-child(3){
    background-image: url(../img/ico03.png); 
}

.contents .baro ul li:hover{
    color: #2516ec;
    opacity: 0.8;
}


footer{
    width: 100%;
    height: 100px;
    background: #ddd;
}
footer h1{
    float: left;
    width: 200px;
    padding-top: 30px;
}
footer .f_menu{
    float: left;
    width: 600px;
    height: 36px;
    padding-left: 20px;
}
footer .f_menu li{
    display: inline-block;
    font-size: 18px;
    line-height: 2;
    margin-right: 10px;
}
footer .f_menu li:hover{
    color: #888;
}
footer .copy{
    float: left;
    width: 600px;
    height: 64px;
    padding-top: 10px;
    background: #ccc;
    font-size: 16px;
    padding-left: 20px;
}
footer .copy li{
    float: left;
    margin-right: 10px;
}

