@charset "UTF-8";
/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    border: 0;
    vertical-align: top;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    color: #333;
}
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
   }
   .modal .modal_inner{
    width: 500px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-30%,-30%);
    text-align: center;
    padding: 20px;
    border: 2px solid #f0567a;
    z-index: 100;
   }
   .modal .modal_inner p.tit{
    font-size: 20px;
    border-bottom: 2px solid #f0567a;
    padding-bottom: 25px;
   }
   .modal .modal_inner ul.txt{
    padding-top: 10px;
    font-size: 14px;
    line-height: 2;
   }
   .modal .modal_inner .btn{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    font-size: 13px;
    border: 0;
    background-color: #2b2460;
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
   }


.container{
    width: 1200px;
    margin: 0 auto;
}

/* layout */

header{
    float: left;
    width: 100%;
    height: 100px;
    background: #aaa;
    position: relative;
    z-index: 10;
}

header h1{
    float: left;
    width: 500px;
    padding-top: 20px;
}
header h1 a img{
    width: 200px;
    height: 40px;
}
header nav{
    float: left;
    width: 700px;
    margin-top: 40px;
}

header nav ul.gnb{
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
}

header nav ul.gnb>li{
    width: 25%;
    float: left;
    position: relative;
}
header nav ul.gnb>li>a{
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 22px;
}
header nav ul.gnb>li:hover>a{
    background: #5f1c25;
    color: #fff;
}
header nav ul.gnb>li>ul.sub{
    width: 100%;
    height: 160px;
    position: absolute;
    left: 0;
    top: 45px;
    background: #fff;
    display: none;
}
header nav ul.gnb>li>ul.sub>li{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
header nav ul.gnb>li>ul.sub>li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
header nav ul.gnb>li>ul.sub>li:hover>a{
    background: #bbb;
    position: relative;
}



.slide{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.slide li{
    width: 100%;
    height: 300px;
    position: absolute;
    left: -1200px;
    top: 0;
}

.slide li:first-child{
    top: 0px;
    left: 0;
}


.contents{
    width: 100%;
    height: 200px;
    background: #ccc;
}

.contents section{
    float: left;
}

.contents section h3{   
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #5f1c25;
    color: #fff;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.contents .notice_gal{
    width: 500px;
    height: 200px;
    position: relative;
}
.contents .notice_gal h3{
    position: absolute;
    left: 0;
    top: 0;
    background: #ccc;
    cursor: pointer;   
}
.contents .notice_gal h3.gal_txt{
    left: 100px;
}
.contents .notice_gal h3.on{
    background: #5f1c25;
}
.contents .notice_gal ul{
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    top: 30px;
    background: #fff;
    border: 1px solid #333;
    border-top-right-radius: 20px 5px;
    display: none;
}
.contents .notice_gal ul.on{
    display: block;
}
/* 공지사항 영역 */

.contents .notice_gal ul.notice{
    width: 100%;
}
.contents .notice_gal ul.notice li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    transition: all 0.6s;
}
.contents .notice_gal ul.notice li a{
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.contents .notice_gal ul.notice li a:hover{
    color: #ccc;
}
.contents .notice_gal ul.notice li a .day{
    position: absolute;
    right: 10px;
    top: 0;
}
/* 갤러리 영역 */
.contents .notice_gal ul.gal{
    width: 100%;
}
.contents .notice_gal ul.gal li{
    width: 150px;
    height: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 12px;
}
.contents .notice_gal ul.gal li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.6;
}
.contents .notice_gal ul.gal li:hover{
    transform: translateY(10px);
}
.contents .notice_gal ul.gal li a img{
    width: 150px;
    height: 100px;
}

.contents .banner{
    width: 350px;
    height: 200px;
}
.contents .banner a{
    display: block;
    width: 100%;
    height: 170px;
}
.contents .banner a img{
    width: 100%;
    height: 170px;
    border-top-right-radius: 20px;
}
/* 바로가기 영역 */
.contents .baro{
    width: 350px;
    height: 200px;
    text-align: center;
}
.contents .baro ul{
    width: 100%;
    height: 170px;
    padding: 10px;
    border: 1px solid #737373;
}
.contents .baro ul li{
    width: 106px;
    height: 150px;
    float: left;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-top: 100px;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 15px 20px
}
.contents .baro ul li:nth-child(1){
    background-image: url(../img/sub1.jpg);
    margin-right: 3px;
}
.contents .baro ul li:nth-child(2){
    background-image: url(../img/sub2.jpg);
    margin-right: 3px;
}
.contents .baro ul li:nth-child(3){
    background-image: url(../img/sub3.jpg);
}

footer {
    width: 100%; height: 100px;
    background-color:#bbb;
}

footer .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px; height: 100%;
    margin: 0 auto;
}

footer .logo {
    width: 200px;
}

footer .right {
    width: 950px;
}

footer .menu {
    height: 40px;
    display: flex;
    align-items: center;
}

footer .menu a {
    margin-right: 15px;
}

footer .copy {
    height: 60px;
}